# Python & Ambientes
__pycache__/
*.py[cod]
venv/
.venv/
.env

# Dados e Checkpoints locais
data/
*.pt
*.pth
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

# Diretórios de trabalho do NVFlare
/tmp/nvflare/
workspace/
run_*/
tb_events/

# Outros
workflows
templates
.specify
specs